# YouTube API 설정
YOUTUBE_API_KEY=your_new_api_key_here

# Supabase 설정
SUPABASE_URL=https://qhrfefcthrogwdwpxkby.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFocmZlZmN0aHJvZ3dkd3B4a2J5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTk4MTg1ODUsImV4cCI6MjA3NTM5NDU4NX0.Do9gajWdwgP8PFSlajAUhZHb024nfNZNnx1IJz9yR5k
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFocmZlZmN0aHJvZ3dkd3B4a2J5Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1OTgxODU4NSwiZXhwIjoyMDc1Mzk0NTg1fQ.wBg6ziXqViZHlXXfOryW12YbOpe54_cj5rD-4C1p7P8

# Flask 설정
FLASK_SECRET_KEY=your_secret_key_here
DOWNLOAD_FOLDER=./downloads